<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScanShieldmobileapp"
        tools:targetApi="31">
        <activity
            android:name=".message_history_test"
            android:exported="false" />
        <activity
            android:name=".normal_calls"
            android:exported="false" />
        <activity
            android:name=".call_answered_screen"
            android:exported="false" />
        <activity
            android:name=".number_search"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".protection"
            android:exported="false" />
        <activity
            android:name=".login_successfully"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".registration"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".dialpad"
            android:exported="false" />
        <activity
            android:name=".spam_messages"
            android:exported="false" />
        <activity
            android:name=".blocked_numbers"
            android:exported="false" />
        <activity
            android:name=".call_history"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".login" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".get_started3"
            android:exported="false" />
        <activity
            android:name=".get_started2"
            android:exported="false" />
        <activity
            android:name=".get_started_1"
            android:exported="false" />
        <activity
            android:name=".loading2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Reciver" android:exported="true">
            <intent-filter>
                <action android:name="com.example.Broacast" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>